header {
  background: #88b2f7;
  font-family: 'Rokkitt';
  min-height: 70px;
}

header a {
  color: #326591;
  font-size: 24px;
  text-decoration: none;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  float: left;
  padding: 0 30px 0 20px;
}

header #logo {
  float: left;
}

header #logo img {
  margin: 0;
  min-height: 30px;
  min-width: 200px;
  height: 50%;
  width: 50%;
}

header nav {
  float: right;
}

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.jumbotron {
  font-family: 'Rokkitt';
  font-size: 100%;
  margin: 1.5% 32.5% 4.5% 0;
  min-width: 300px;
}

.msglabel {
  font-family: 'Rokkitt';
  font-size: 100%;
}

textarea {
  width: 100%;
  height: 150px;
}

.switch {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 23px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.dectoggle {
  position: relative;
  left: 53px;
  top: 1px ;

}

.enctoggle {
  position: relative;
  right: 64px;
  bottom: 19px;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#technique {
  width: 100%;
}

button.link {
  background: none;
  border: none;
  padding-top: 25px;
}

#keywarning {
  color: red;
  display: none;
}